nb-configuration.xml
target/
test-output/
deploy/
deploy/db/
deploy/db/config/
deploy/db/config/config.test
deploy/db/config/*
.settings/
.classpath
.project
*.bak
*.rej
*.log
.idea/
*.iml
*.log.*
*.iws
*.ipr
workspace.xml
app/test/log.txt
log.txt
.gradle

